/* body, h1... nav, header, sobre, contato, footer */
body{
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #000000;
    background-image: url("lunar-cheia.jpg");
}

h1,h2,h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000ff;
}

nav {
    display: flex ;
    align-items: center ;
    background-color: #ba189b;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    color: #FFFF;
    font-weight: 800;
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("lunar-cheia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(241, 238, 238);
    text-align: center;
    background-color:#000000;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    color:#FFFF;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color:#FFFF;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fcfdfd;
}